<!-- Footer -->


<footer id="footer">
    <div class="wrapper-enclosure">
        <div class="footer-main">
            <div class="email-phone">
                <address>
                    <i class="cta-icon fas fa-envelope-square"></i><a class="cta-link"
                        href="mailto:gracepups4@gmail.com">sales@everlandpuppies.com</a>  
                </address>
            </div>
            <div class="footer-logo">
                <img src="/images/logo.png" alt="logo">
            </div>
        </div>
        <hr class="footer-rule">
        <div>
            <p class="copyright">© <span class="year"></span> <a
                class="navbrand-footer footer-heading last-link" href="/">Everland Puppies</a>. All Rights Reserved. <span class="footer-privacy"><a href="/privacy">Privacy Policy</a></span></p>
        </div>
    </div>




</footer>


<!-- embla -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="/embla.js"></script>
<script src="/validate.js" charset="UTF-8"></script>
<script src="/index.js" charset="UTF-8"></script>
</body>

</html>