<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- displays site properly based on user's device -->
  <title>Everland Puppies: Buy beautiful Doberman Puppies</title>
  <!-- Bootstrap 4.4.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Baloo+Thambi+2:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">



  <!-- Css Stylesheet -->
  <link rel="stylesheet" href="/embla.css">
  <link rel="stylesheet" href="/styles.css" />

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>

  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-226160607-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-226160607-1');
  </script>
</head>

<body>
  <nav class="navigation">
    <div class="wrapper-enclosure nav-enclosure">
      <div class="logo-and-links">
        <div class="logo-container">
          <a href="/">
            <img src="/images/logo.png" class="logo" alt="Logo">
          </a>
        </div>
        <ul class="nav_links">
          <li class="nav_link"><a href="/">Home</a></li>
          <li class="nav_link"><a href="/about">About Us</a></li>
          <li class="nav_link"><a href="/contact">Contact </a></li>
          <li class="nav_link"><a href="/testimonials">Testimonials</a></li>
          <li class="nav_link"><a href="/shipping">shipping</a></li>
          <li class="nav_link"><a href="/available-puppies">Available Puppies</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </div>
    </div>


  </nav>

</body>

</html>