<section id="client-review">
  <div class="wrapper-enclosure">
    <h1>What our clients say about us</h1>
    <div class="embla review-embla">
      <div class="embla__viewport ">
        <div class="embla__container">
          <div class="embla__slide  ">
            <div class="embla__slide__inner">
              <div class="profile">
                <h5>Mark Ross</h5>
              </div>
              <p class="review-note">
                Everything went as planned! Layla is a wonderful member of our family. She came home within a month
                of selecting and paying for her. The cost was a bit pricey, but she is worth the money. Everland Puppies followed
                through with all that they promised us. We might come back in the future for a second doggie.
              </p>
            </div>
            <img src="/images/client1.jpg" alt="review-img" />

          </div>
          <div class="embla__slide ">
            <div class="embla__slide__inner">
              <div class="profile">
                <h5>Rachel A.</h5>
              </div>
              <p class="review-note">
                I had a wonderful experience with Everland Puppies. We love our little Dorie! She is wonderful.
                Thanks for
                the easy experience, with puppy updates and calls to keep me informed..
              </p>
            </div>
            <img src="/images/client2.jpg" alt="review-img" />
          </div>
          <div class="embla__slide ">
            <div class="embla__slide__inner">
              <div class="profile">
                <h5>Fabian C.</h5>
              </div>
              <p class="review-note">
                What an amazing puppy we now have as part of our family. I just want everyone that may feel nervous
                about getting a puppy here to know that like anywhere, there are imperfections, but the thing that
                matters is the wonderful care and service and puppies that get to be a part of your family!
              </p>
            </div>
            <img src="/images/client3.jpg" alt="review-img" />

          </div>
          <div class="embla__slide ">
            <div class="embla__slide__inner">
              <div class="profile">
                <h5>Sven S.</h5>
              </div>
              <p class="review-note">
                Filli is an absolute love. He has a great disposition and appears to be
                perfectly healthy! The process with Everland Puppies was straight forward and they
                were always
                responsive and helpful when we had questions.
              </p>
            </div>
            <img src="/images/client4.jpg" alt="review-img" />

          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <div class="profile">
                <h5>Becky A.</h5>
              </div>
              <p class="review-note">
                All went very good from start to pick up and bringing Lion home!! Everland Puppies was
                very communicative, always available and very helpful throughout process. Puppy was
                everything we had hoped and wished for!
              </p>
            </div>
            <img src="/images/client5.jpg" alt="review-img" />

          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <div class="profile">
                <h5>Martha R.</h5>
              </div>
              <p class="review-note">
                This is the second puppy we have gotten from Everland Puppies and we'll use them again
                if we decide to get another pup. It's just too easy and the communication through out
                the process is excellent not to mention the quality of the dogs we have received.
              </p>
            </div>
            <img src="/images/review-pic.jpg" alt="review-img" />

          </div>
        </div>

      </div>
      <button class="embla__button embla__button--prev" type="button">
        <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
          <path
            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
          </path>
        </svg>
      </button>
      <button class="embla__button embla__button--next" type="button">
        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
          <path
            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
          </path>
        </svg>
      </button>


    </div>

  </div>


</section>