<%- include("partials/header") %>
<section id="about-header">
  <div class="wrapper-enclosure about-enclosure">
    <div class="header-center">
      <h4>
        in need of a beautiful puppy
        to make life at home even happier?
        we are here to grant you your wish!
      </h4>
      <a href="/" class="find-btn" role="button"><i class="paw fas fa-paw"></i>find a puppy<i
          class="paw fas fa-paw"></i></a>
    </div>
  </div>

</section>
<section>
  <div id="main-container">
    <div class="inner-container about-inner">
      <h1 class="about-text">About Us</h1>
      <div class="rule-container">
        <hr class="about-rule" />
      </div>
      <div class="conatiner-grid" style="width: 100%;">
        <div class="info-left">
          <div class="banner"></div>
          <div class="banner-text">
            <h2>At Everland Puppies, we offer you the best!</h2>
          </div>
        </div>
        <div class="about-main">
          <p>
            We started our journey over 10 years ago. It has been adventurous to say the least. Our desire has always
            been to involve our children in everything we do and fortunately we have the opportunity to carry this out
            in many ways.
            There’s no better feeling than when we match one of our precious pets with their caring new owner. It’s why
            we put so much time, love and effort into making sure these special animals continue to be bred.

            At Everland Puppies, we have been breeding dogs and livestock for over a decade. We take our
            responsibilities very seriously and strive to ensure the health, safety and well-being of all our pets.
            That’s why the happiest days for us are when one of our animals is adopted by a loving welcoming family.
            The adoption of a puppy is a big commitment. As a prospective dog owner, we suggest that you thoroughly
            research the breeds you are interested in. By doing these things, you are ensuring that the puppy you choose
            is a good fit for your family.
            We look forward to hearing from you.
          </p>
        </div>
      </div>
      <div class="services">
        <div class="clientelle">
          <i class="icon fas fa-bullseye fa-2x"></i>
          <h4>Elite Clientelle</h4>
          <p>
            We ensure smooth communication with our clients so that they are matched with the right puppy for their
            home.
          </p>
        </div>
        <div class="shipping">
          <i class="icon fas fa-shipping-fast fa-2x"></i>
          <h4>Reliable shipping Policy</h4>
          <p>
            Our private travel network ensures your new pup arrives home healthy and safe.
          </p>
        </div>
        <div class="puppy-health">
          <i class="icon fas fa-dog fa-2x"></i>
          <h4>Healthy Puppy</h4>
          <p>
            All our puppies recieve all the right health treatment and checks before they are put on sale.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="about-center">
        <div class="about-text">
            <hr class="section-rule about-rule">
            <h2 class="section-title">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            </p>
        </div>
        <div class="about-img">
            <img src="../images/puppy.about.jpg" alt="puppy-img">
        </div>
    </div> -->
</section>

<!--customer review-->
<%- include("partials/reviews") %> <%- include("partials/footer") %>