
<%- include("partials/header") %>


<div class="jumbotron centered admin-panel" >
    <div class="container admin-heading">
      <i class="fas fa-key fa-6x"></i>
      <h1 >Welcome to Everland Puppies.</h1>
      <p >Are you a registered admin? if yes, then login to upload more products or register to gain access to the uploads page!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
    </div>
  </div>
  <%- include("partials/footer") %>