<%- include("partials/header") %>
<div id="contact-header">
    <div class="wrapper-enclosure contact-wrapper">
        <div class="contact-message">
            <h1>Get in Touch</h1>
            <p>If you need to ask us any questions or further inquire about any of our beautiful puppies,
                please feel free to call or email us and we will be in touch.
            </p>
        </div>
        <div class="contact-platform">
            <a href="mailto:info@everlandpuppies.com" class="contact-btn email-btn" role="button">Email us</a>
        </div>
    </div>

</div>
<section id="contact-info">
    <div class="wrapper-enclosure">
        <div class="info-center">
            <div class="info address">
                <i class="info-icon fas fa-heartbeat"></i>
                <h4>Puppy health</h4>
                <p>All our puppies recieve all the right health treatment and checks before they are put on sale.
                    All our puppies are vaccinated, dewormed, vet checkednand Kid-friendly.
                    They are also very sociable and trainable.
                </p>
            </div>
            <div class="info emails">
                <i class="info-icon fas fa-envelope-square"></i>
                <h4>Emails</h4>
                <h6>Transaction request</h6>
                <a class="email" href="mailto:sales@everlandpuppies.com">sales@everlandpuppies.com</a>
                <h6>Support Request</h6>
                <a class="email" href="mailto:info@everlandpuppies.com">info@everlandpuppies.com</a>
            </div>
            <div class="info shipping-policy">
                <i class="info-icon fas fa-shipping-fast"></i>
                <h4>Shipping Policy</h4>
                <p>Our transportation ensures health, comfort, quality, and communication from the breeder’s doorstep to
                    that first lick on your doorstep.
                </p>
                <a href="/shipping" class="contact-btn read-more" role="button">Read More</a>
            </div>
        </div>
    </div>

</section>








<%- include("partials/footer") %>