<%- include("partials/header") %>
<div id="main-container" class="privacy-container">
    <div class="inner-container">
        <h1 class="section-title">Shipping</h1>
        <div class="rule-container">
            <hr class="about-rule" />
        </div>
        <p>

            Our puppies are delivered by people who love your pup as much as you do. At Everland Puppies, we
            understand
            traveling can be scary for first-timers, whether they walk on two legs or four! Our dedicated team and
            travel partners always put the health and wellbeing of your puppy first, making sure he or she arrives
            safely and as quickly as possible. When making travel decisions and arrangements, we always choose what is
            safest and most comfortable for your puppy.

        </p>
        <h2 class="section-title">WILL MY PUPPY BE USED TO AN INSIDE OR OUTSIDE ENVIRONMENT?</h2>
        <p>
            Both! All expecting mothers and young puppies are kept indoors until the puppies are 5 weeks old. After 5
            weeks we begin introducing them to a special yard area for playtime and potty-training. All of our dogs have
            access to a protected area year-round, and get lots of socialization from ourselves, and our children.

        </p>
        <h2 class="section-title">Cost of shipping a puppy</h2>
        <p>
            Every puppy move is a little different. Origin and destination cities, the size of your puppy, and several
            other factors will affect how much their move ends up costing. You can expect a handful of standard items to
            be a part of the overall cost, no matter your origin location, puppy breed, or destination.
            Although we do encourage you to pick up your puppy on a scheduled pick-up day, Please let us know in advance
            if this is something you need.
            <strong>Hand Delivery By Air:</strong> We have a wonderful Flight Nanny (Theresa) who works exclusively with
            Everland Puppies.
            The fee is $800 for East coast flights, $1000-$1200 west of the Mississippi River.
            We'd be happy to hold your puppy for additional days if necessary, however we must charge a fee of $25 for
            each additional day that passes your assigned take-home date. We do NOT hold puppies past 9 weeks of age.
            Puppies need individual training and attention between 8-10 weeks especially. If you are interested in Puppy
            Training we work closely with some excellent local puppy trainers, we are happy to connect you.

        </p>
    </div>

</div>





<%- include("partials/footer") %>