<%- include("partials/header") %>
<div id="main-container" class="privacy-container" style="margin-top: 4.2rem;">
    <div class="inner-container">
        <h2 class="catalog-title">Shipping Terms and Conditions</h2>
        
        <h2 class="section-title">Covid-19</h2>
        <p>

            Puppies are allowed to be transported because they are not carriers of Covid-19 the puppy will be flown on
            board the plane with passengers for safety purposes and when the pup arrives at the airport, there would be
            a delivery van to immediately take the pup to your home address because we don’t allow pick up at the
            airport due to the coronavirus.

            So when I do the registration for delivery am going to give you the tracking number and all the necessary
            shipping details which you will need to receive the pup

        </p>
        <h2 class="section-title">Delivery</h2>
        <p>
            It’s next-day delivery after payment has been confirmed. So if payment is made today, you can receive the
            puppy tomorrow evening. When I do the registration for delivery am going to give you the tracking number and
            all the necessary shipping details which you will need to receive the pup.

        </p>
        <h2 class="section-title">Shipping</h2>
        <p>
            Shipping and subsequent delivery of your puppy to your address have never been easier. Your puppy will
            travel in a climate controlled cabin area for pets, in an airline-approved carrier. Ahead of time, you will
            have a flight #, arrival time, and a reference # that identifies your puppy. We equally make all the
            arrangements for your puppy to be delivered to your home address, as well as you can pick your puppy up at
            the airport, just like picking up a person & you will need a reference/airbill number. Whatever suits you
            and the puppy best is what we strive to provide. Shipping is totally safe & stress-free on the puppy. You
            will receive the puppy usually within 24 hours same day after shipping depending on your location. Puppies
            on planes are as safe as you or I flying. I have shipped dogs for more than 9 years now. I always try to
            ship direct non-stop when flying puppies and adults. In my experience and opinion, my puppies are very
            comfortable and the new owners tell me that their new puppy has arrived happy and not at all stressed.
        </p>

        <p>We ship our puppies using airlines because it is the fastest & safest way to transport our puppies from our
            place to yours especially if you live far away or in another state. Our puppies are shipped in an
            airline-approved plastic pet kennel that we customize depending on the weight of the puppy, the distance or
            duration of the journey. They ride in a special climate-controlled & pressurized compartment on the plane
            which is no different from the cabin. They are not in the same compartment as the passenger luggage.</p>

        <p>Our shipping crates are clearly marked with colorful “LIVE ANIMALS” and “UP” stickers. We mark the crates
            clearly with the destination airport, the confirmation number, the phone & the address of the customer. When
            we know that a puppy is going to be shipped, we play with them in the crate prior to shipping so they are
            used to it. They have never shown fear of the crate. We put lots of food & plenty of water in the shipping
            crate. The water provides all the moisture the puppy need during delivery.</p>
        <p>One reason we do this is in case,
            in the unlikely event the puppy should get stuck at an airport overnight (because of connecting flight
            trouble), we don’t have to worry if they have enough to eat or drink. Although traveling is not that hard on
            them, we do not like to make them spend any more time than absolutely necessary in transit. For this reason,
            we also look for the shortest route & always schedule direct flights if possible.
        </p>




        <p>We check weather conditions at the receiving end and only ship when we consider it safe to do so. We put our
            puppies’ health above all other considerations and do not ship when we feel it could be dangerous to the
            puppies’ well-being. We usually ship Monday – Saturday.</p>
        <p> We guarantee the safe & healthy arrival of your
            puppy. We WILL NOT SHIP if we feel that weather conditions are hazardous for the puppy. Your puppy may take
            a few days to adjust once they get to their new home, sometimes it takes them a day or two to settle in, but
            by far, the vast majority of people tell us they just step right out of the shipping crate & act right at
            home.</p>
        <h2 class="section-title">Nanny Shiping</h2>
        <p>
            We can also deliver your new puppy DIRECTLY into your arms!! We have a reliable Airline Nanny that will fly
            with your puppy right to you. This is the safest, most reliable, and least stressful way for your new puppy
            to be delivered to you. A puppy Nanny takes the puppy on bored with them and they can give them the
            attention they need. We want the best possible care for your puppy!



        </p>
        <h2 class="section-title">Due Diligence:</h2>
        <p>
            All puppies are flown with ice water, bedding, and food attached to their crate if needed. Shipping varies,
            but, we prefer to use American, United or Continental Airlines. They are wonderful with animals and have new
            planes with compartments made especially for kittens, puppies, birds, insects, etc.



        </p>
        <h2 class="section-title">Health Certificate</h2>
        <p>
            These are required for all pets traveling via air. This is to ensure all pets are not sharing anything more
            than a ride. All airlines require this certificate. YES, it is mandatory.
        </p>
        <p>
            Please be waiting for your puppy at home or the airport at the given time. Usually the puppy is available 1
            hour after the flight’s arrival time & a valid ID such as a driver’s license is needed for pick up. We
            really appreciate knowing that the puppy has arrived safely & at home with you, so please call or email us
            as soon as you get the chance. Don’t forget to take your puppy to your veterinarian for the regular arrival
            health check-up within 48 hours of arrival. A follow-up call is placed 24 hours after you have received your
            new puppy to ensure everything is perfect, to answer any questions you have & to measure your satisfaction.
            See our shipping crates below
        </p>


    </div>

</div>





<%- include("partials/footer") %>