<%- include("partials/header") %>
<section id="our-puppies" style="margin-top: 4rem;">
    <div class="wrapper-enclosure">
      <div class="section-title">
        <div class="break-crum-wrapper">
            <span><a href="/">Home</a></span>
            <span>/</span>
            <span class="current">Testimonials</span>
        </div>
        <h2 class="catalog-title">Trust Our Customers</h2>
        
      </div>
      <div class="testimonials-center">
        <div class="testi-wrapper">
            <div class="testi-avatar">
                <img src="/images/client2.jpg" alt="client-testimonial">
                <div class="testi-name">
                    <h3>Mark Ross</h3>
                    <h4>20-12-2022</h4>
                </div>

            </div>
            <div class="testi-main">
                <p>Everything went as planned! Layla is a wonderful member of our family. She came home within a month
                    of selecting and paying for her. The cost was a bit pricey, but she is worth the money. Everland Puppies followed
                    through with all that they promised us. We might come back in the future for a second doggie.</p>
            </div>

        </div>
        <div class="testi-wrapper">
            <div class="testi-avatar">
                <img src="/images/client2.jpg" alt="client-testimonial">
                <div class="testi-name">
                    <h3>Rachel A.</h3>
                    <h4>10-6-2022</h4>
                </div>

            </div>
            <div class="testi-main">
                <p>I had a wonderful experience with Everland Puppies. We love our little Dorie! She is wonderful.
                    Thanks for
                    the easy experience, with puppy updates and calls to keep me informed..</p>
            </div>

        </div>
        <div class="testi-wrapper">
            <div class="testi-avatar">
                <img src="/images/client3.jpg" alt="client-testimonial">
                <div class="testi-name">
                    <h3>Fabian C.</h3>
                    <h4>02-6-2022</h4>
                </div>

            </div>
            <div class="testi-main">
                <p>What an amazing puppy we now have as part of our family. I just want everyone that may feel nervous
                    about getting a puppy here to know that like anywhere, there are imperfections, but the thing that
                    matters is the wonderful care and service and puppies that get to be a part of your family!</p>
            </div>

        </div>
        <div class="testi-wrapper">
            <div class="testi-avatar">
                <img src="/images/client4.jpg" alt="client-testimonial">
                <div class="testi-name">
                    <h3>Sven S.</h3>
                    <h4>13-3-2022</h4>
                </div>

            </div>
            <div class="testi-main">
                <p>Filli is an absolute love. He has a great disposition and appears to be
                    perfectly healthy! The process with Everland Puppies was straight forward and they
                    were always
                    responsive and helpful when we had questions.</p>
            </div>

        </div>
        <div class="testi-wrapper">
            <div class="testi-avatar">
                <img src="/images/review-pic.jpg" alt="client-testimonial">
                <div class="testi-name">
                    <h3>Becky A.</h3>
                    <h4>15-06-2021</h4>
                </div>

            </div>
            <div class="testi-main">
                <p>All went very good from start to pick up and bringing Lion home!! Everland Puppies was
                    very communicative, always available and very helpful throughout process. Puppy was
                    everything we had hoped and wished for!</p>
            </div>

        </div>
        <div class="testi-wrapper">
            <div class="testi-avatar">
                <img src="/images/client1.jpg" alt="client-testimonial">
                <div class="testi-name">
                    <h3>Martha R.</h3>
                    <h4>10-03-2022</h4>
                </div>

            </div>
            <div class="testi-main">
                <p>This is the second puppy we have gotten from Everland Puppies and we'll use them again
                    if we decide to get another pup. It's just too easy and the communication through out
                    the process is excellent not to mention the quality of the dogs we have received.</p>
            </div>

        </div>
        
        
      </div>
    </div>
  
  
  </section>





<%- include("partials/footer") %>



